deployment/media2cloud-highlight-stack.yaml
AWSTemplateFormatVersion: "2010-09-09"

Description: Media2Cloud Highlight Stack - DynamoDB tables backing the highlight clipping + video editor feature (HighlightSets, EditProjects, Renders, HighlightSettings). Version %%VERSION%%

Mappings:
    Workflow:
        # Highlight detection state machine
        HighlightDetection:
            Name: highlight-detection
        DetectHighlights:
            Package: "%%PKG_DETECT_HIGHLIGHTS%%"
            Name: detect-highlights
        PlanChunks:
            Package: "%%PKG_PLAN_CHUNKS%%"
            Name: plan-chunks
        DetectHighlightChunk:
            Package: "%%PKG_DETECT_HIGHLIGHT_CHUNK%%"
            Name: detect-highlight-chunk
        MergeChunks:
            Package: "%%PKG_MERGE_CHUNKS%%"
            Name: merge-chunks
        # Render & Publish state machine
        RenderPublish:
            Name: render-publish
        ComposeEdl:
            Package: "%%PKG_COMPOSE_EDL%%"
            Name: compose-edl
        StartRender:
            Package: "%%PKG_START_RENDER%%"
            Name: start-render
        RenderStatus:
            Package: "%%PKG_RENDER_STATUS%%"
            Name: render-status
        PublishToLibrary:
            Package: "%%PKG_PUBLISH_TO_LIBRARY%%"
            Name: publish-to-library
    Node:
        Runtime:
            Version: nodejs20.x
    DynamoDB:
        # One row per highlight detection run.
        # PK: uuid (source video). SK: highlightSetId (ULID, multiple runs allowed).
        HighlightSets:
            Suffix: highlight-sets
            PartitionKey: uuid
            SortKey: highlightSetId
        # One row per editor session.
        # PK: editProjectId (ULID). GSI on uuid for "list edit projects for video".
        EditProjects:
            Suffix: edit-projects
            PartitionKey: editProjectId
            GSIUuidIndex: gsi-uuid
            GSIUuidPartitionKey: uuid
        # One row per Render & Publish click.
        # PK: renderId (ULID). GSI on editProjectId for "list renders for project".
        Renders:
            Suffix: renders
            PartitionKey: renderId
            GSIEditProjectIndex: gsi-editprojectid
            GSIEditProjectPartitionKey: editProjectId
        # One row per owner. Stores model/strategy/prompt defaults.
        HighlightSettings:
            Suffix: highlight-settings
            PartitionKey: ownerId

Parameters:
    S3Bucket:
        Type: String
        Description: S3Bucket
    KeyPrefix:
        Type: String
        Description: KeyPrefix
    SolutionId:
        Type: String
        Description: SolutionId
    SolutionLowerCaseId:
        Type: String
        Description: SolutionLowerCaseId
    SolutionUuid:
        Type: String
        Description: SolutionUuid
    ResourcePrefix:
        Type: String
        Description: ResourcePrefix
    CustomUserAgent:
        Type: String
        Description: CustomUserAgent
    AwsSdkLayer:
        Type: String
        Description: AwsSdkLayer
    CoreLibLayer:
        Type: String
        Description: CoreLibLayer
    ProxyBucket:
        Type: String
        Description: ProxyBucket
    IngestTable:
        Type: String
        Description: IngestTable name (read by compose-edl to resolve proxy keys)
    MediaConvertEndpoint:
        Type: String
        Description: MediaConvert account endpoint host
    IotHost:
        Type: String
        Description: IoT data plane endpoint host (for status pushes to webapp)
    IotTopic:
        Type: String
        Description: Global IoT status topic the webapp subscribes to
    ServiceDataAccessRoleArn:
        Type: String
        Description: ARN of the MediaConvert service role (passed to CreateJob via iam:PassRole)
    PublishCloudFrontDistributionDomainName:
        Type: String
        Description: CloudFront distribution domain that fronts ProxyBucket /*/output/* — used by compose-edl to convert s3:// logo URIs to HTTPS for SMART_CROP+ImageInserter compatibility

Resources:
    ################################################################################
    #
    # Amazon DynamoDB tables
    # * HighlightSets:     detection runs (timecodes only, no media)
    # * EditProjects:      editor session state (segments, publish flag)
    # * Renders:           Render & Publish job tracking
    # * HighlightSettings: per-owner model/strategy/prompt defaults
    #
    ################################################################################
    HighlightSetsTable:
        Type: AWS::DynamoDB::Table
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W28
                        reason: Tables are explicitly assigned with predefined names
        Properties:
            TableName: !Sub
                - ${ResourcePrefix}-${suffix}
                - suffix: !FindInMap
                    - DynamoDB
                    - HighlightSets
                    - Suffix
            BillingMode: PAY_PER_REQUEST
            AttributeDefinitions:
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - HighlightSets
                        - PartitionKey
                    AttributeType: S
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - HighlightSets
                        - SortKey
                    AttributeType: S
            KeySchema:
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - HighlightSets
                        - PartitionKey
                    KeyType: HASH
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - HighlightSets
                        - SortKey
                    KeyType: RANGE
            SSESpecification:
                SSEEnabled: true
            PointInTimeRecoverySpecification:
                PointInTimeRecoveryEnabled: true
            TimeToLiveSpecification:
                AttributeName: ttl
                Enabled: true

    EditProjectsTable:
        Type: AWS::DynamoDB::Table
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W28
                        reason: Tables are explicitly assigned with predefined names
        Properties:
            TableName: !Sub
                - ${ResourcePrefix}-${suffix}
                - suffix: !FindInMap
                    - DynamoDB
                    - EditProjects
                    - Suffix
            BillingMode: PAY_PER_REQUEST
            AttributeDefinitions:
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - EditProjects
                        - PartitionKey
                    AttributeType: S
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - EditProjects
                        - GSIUuidPartitionKey
                    AttributeType: S
            KeySchema:
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - EditProjects
                        - PartitionKey
                    KeyType: HASH
            SSESpecification:
                SSEEnabled: true
            PointInTimeRecoverySpecification:
                PointInTimeRecoveryEnabled: true
            TimeToLiveSpecification:
                AttributeName: ttl
                Enabled: true
            GlobalSecondaryIndexes:
                -
                    IndexName: !FindInMap
                        - DynamoDB
                        - EditProjects
                        - GSIUuidIndex
                    KeySchema:
                        -
                            AttributeName: !FindInMap
                                - DynamoDB
                                - EditProjects
                                - GSIUuidPartitionKey
                            KeyType: HASH
                    Projection:
                        ProjectionType: ALL

    RendersTable:
        Type: AWS::DynamoDB::Table
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W28
                        reason: Tables are explicitly assigned with predefined names
        Properties:
            TableName: !Sub
                - ${ResourcePrefix}-${suffix}
                - suffix: !FindInMap
                    - DynamoDB
                    - Renders
                    - Suffix
            BillingMode: PAY_PER_REQUEST
            AttributeDefinitions:
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - Renders
                        - PartitionKey
                    AttributeType: S
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - Renders
                        - GSIEditProjectPartitionKey
                    AttributeType: S
            KeySchema:
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - Renders
                        - PartitionKey
                    KeyType: HASH
            SSESpecification:
                SSEEnabled: true
            PointInTimeRecoverySpecification:
                PointInTimeRecoveryEnabled: true
            TimeToLiveSpecification:
                AttributeName: ttl
                Enabled: true
            GlobalSecondaryIndexes:
                -
                    IndexName: !FindInMap
                        - DynamoDB
                        - Renders
                        - GSIEditProjectIndex
                    KeySchema:
                        -
                            AttributeName: !FindInMap
                                - DynamoDB
                                - Renders
                                - GSIEditProjectPartitionKey
                            KeyType: HASH
                    Projection:
                        ProjectionType: ALL

    HighlightSettingsTable:
        Type: AWS::DynamoDB::Table
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W28
                        reason: Tables are explicitly assigned with predefined names
        Properties:
            TableName: !Sub
                - ${ResourcePrefix}-${suffix}
                - suffix: !FindInMap
                    - DynamoDB
                    - HighlightSettings
                    - Suffix
            BillingMode: PAY_PER_REQUEST
            AttributeDefinitions:
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - HighlightSettings
                        - PartitionKey
                    AttributeType: S
            KeySchema:
                -
                    AttributeName: !FindInMap
                        - DynamoDB
                        - HighlightSettings
                        - PartitionKey
                    KeyType: HASH
            SSESpecification:
                SSEEnabled: true
            PointInTimeRecoverySpecification:
                PointInTimeRecoveryEnabled: true

    ################################################################################
    #
    # detect-highlights Lambda
    # * Reads existing Transcribe output from ProxyBucket
    # * Calls Bedrock (Converse API) — default amazon.nova-2-lite-v1:0
    # * Anchors LLM-quoted spans to word-level Transcribe items (LCS similarity)
    # * Writes a row to HighlightSetsTable
    #
    ################################################################################
    DetectHighlightsLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption. Disable additional KMS encryption requirement. https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/encrypt-log-data-kms.html
        Properties:
            LogGroupName: !Sub
                - /aws/lambda/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - DetectHighlights
                    - Name
            RetentionInDays: 7

    DetectHighlightsRole:
        Type: AWS::IAM::Role
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W11
                        reason: Wildcard character is prefixed and scoped with the ResourcePrefix
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: lambda.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: DetectHighlightsAccess
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            # CloudWatch Logs
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogGroup
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource:
                                    - !GetAtt DetectHighlightsLogGroup.Arn
                            # S3 - proxy bucket (transcript reads only for now)
                            -
                                Effect: Allow
                                Action: s3:ListBucket
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}
                            -
                                Effect: Allow
                                Action: s3:GetObject
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}/*
                            # Bedrock - covers every model the dropdown can offer
                            # (text + vision + video inputs, dynamically listed by modelsOp).
                            -
                                Effect: Allow
                                Action: bedrock:InvokeModel
                                Resource:
                                    - arn:aws:bedrock:*::foundation-model/amazon.nova*
                                    - arn:aws:bedrock:*::foundation-model/twelvelabs.*
                                    - arn:aws:bedrock:*::foundation-model/qwen.*
                                    - arn:aws:bedrock:*::foundation-model/deepseek.*
                                    - arn:aws:bedrock:*::foundation-model/minimax.*
                                    - arn:aws:bedrock:*::foundation-model/moonshot.*
                                    - arn:aws:bedrock:*::foundation-model/zai.*
                                    - !Sub arn:aws:bedrock:*:${AWS::AccountId}:inference-profile/*amazon.nova*
                                    - !Sub arn:aws:bedrock:*:${AWS::AccountId}:inference-profile/*twelvelabs*
                                    - !Sub arn:aws:bedrock:*:${AWS::AccountId}:inference-profile/*qwen*
                                    - !Sub arn:aws:bedrock:*:${AWS::AccountId}:inference-profile/*deepseek*

    DetectHighlightsLambda:
        Type: AWS::Lambda::Function
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W89
                        reason: Workflow not using VPC
                    -
                        id: W92
                        reason: Workflow not limiting simultaneous executions
        Properties:
            FunctionName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - DetectHighlights
                    - Name
            Description: !Sub (${SolutionLowerCaseId}) Detect highlight segments via Bedrock LLM/VLM
            Runtime: !FindInMap
                - Node
                - Runtime
                - Version
            MemorySize: 512
            Timeout: 900
            Handler: index.handler
            Role: !GetAtt DetectHighlightsRole.Arn
            Code:
                S3Bucket: !Ref S3Bucket
                S3Key: !Sub
                    - ${KeyPrefix}/${package}
                    - package: !FindInMap
                        - Workflow
                        - DetectHighlights
                        - Package
            Layers:
                - !Ref CoreLibLayer
                - !Ref AwsSdkLayer
            TracingConfig:
                Mode: Active
            Environment:
                Variables:
                    ENV_EXPECTED_BUCKET_OWNER: !Ref AWS::AccountId
                    ENV_CUSTOM_USER_AGENT: !Ref CustomUserAgent
                    ENV_SOLUTION_UUID: !Ref SolutionUuid
                    ENV_SOLUTION_ID: !Ref SolutionId
                    ENV_RESOURCE_PREFIX: !Ref ResourcePrefix
                    # Bedrock calls are issued in the same region as the
                    # stack. This solution targets us-west-2 today; if a
                    # future deploy lands in a region without all required
                    # model IDs, plumb a BedrockRegion parameter through
                    # the parent stack instead of hardcoding here.
                    ENV_BEDROCK_REGION: !Ref AWS::Region
                    ENV_PROXY_BUCKET: !Ref ProxyBucket

    ################################################################################
    #
    # plan-chunks Lambda
    # * Allocates the highlightSetId, writes the PROCESSING row, publishes
    #   the 'started' IoT event
    # * Decides whether multimodal needs to be split (>55min) and emits a
    #   chunk plan for the SFN Map state
    #
    ################################################################################
    PlanChunksLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption.
        Properties:
            LogGroupName: !Sub
                - /aws/lambda/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - PlanChunks
                    - Name
            RetentionInDays: 7

    PlanChunksRole:
        Type: AWS::IAM::Role
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: lambda.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: PlanChunksAccess
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogGroup
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource:
                                    - !GetAtt PlanChunksLogGroup.Arn
                            -
                                Effect: Allow
                                Action: dynamodb:PutItem
                                Resource: !GetAtt HighlightSetsTable.Arn
                            -
                                Effect: Allow
                                Action: iot:Publish
                                Resource: !Sub arn:aws:iot:${AWS::Region}:${AWS::AccountId}:topic/${IotTopic}

    PlanChunksLambda:
        Type: AWS::Lambda::Function
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W89
                        reason: Workflow not using VPC
                    -
                        id: W92
                        reason: Workflow not limiting simultaneous executions
        Properties:
            FunctionName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - PlanChunks
                    - Name
            Description: !Sub (${SolutionLowerCaseId}) Plan Pegasus chunk windows + write PROCESSING row
            Runtime: !FindInMap
                - Node
                - Runtime
                - Version
            MemorySize: 256
            Timeout: 60
            Handler: index.handler
            Role: !GetAtt PlanChunksRole.Arn
            Code:
                S3Bucket: !Ref S3Bucket
                S3Key: !Sub
                    - ${KeyPrefix}/${package}
                    - package: !FindInMap
                        - Workflow
                        - PlanChunks
                        - Package
            Layers:
                - !Ref CoreLibLayer
                - !Ref AwsSdkLayer
            TracingConfig:
                Mode: Active
            Environment:
                Variables:
                    ENV_CUSTOM_USER_AGENT: !Ref CustomUserAgent
                    ENV_SOLUTION_UUID: !Ref SolutionUuid
                    ENV_SOLUTION_ID: !Ref SolutionId
                    ENV_RESOURCE_PREFIX: !Ref ResourcePrefix
                    ENV_PROXY_BUCKET: !Ref ProxyBucket
                    ENV_HIGHLIGHT_SETS_TABLE: !Ref HighlightSetsTable
                    ENV_IOT_HOST: !Ref IotHost
                    ENV_IOT_TOPIC: !Ref IotTopic

    ################################################################################
    #
    # detect-highlight-chunk Lambda
    # * MediaConvert split job (stream-copy clip) for one chunk
    # * Polls until the chunk MP4 lands in the proxy bucket
    # * Pegasus InvokeModel on the chunk
    # * Returns segments rebased onto the original-video timeline
    #
    ################################################################################
    DetectHighlightChunkLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption.
        Properties:
            LogGroupName: !Sub
                - /aws/lambda/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - DetectHighlightChunk
                    - Name
            RetentionInDays: 7

    DetectHighlightChunkRole:
        Type: AWS::IAM::Role
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W11
                        reason: Wildcard scoped to this stack's bedrock model arns
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: lambda.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: DetectHighlightChunkAccess
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogGroup
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource:
                                    - !GetAtt DetectHighlightChunkLogGroup.Arn
                            # Read source proxy + write chunk MP4s under _pegasus-chunks/
                            -
                                Effect: Allow
                                Action: s3:ListBucket
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}
                            -
                                Effect: Allow
                                Action: s3:GetObject
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}/*
                            -
                                Effect: Allow
                                Action:
                                    - s3:PutObject
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}/*/_pegasus-chunks/*
                            # MediaConvert: submit + poll the split job
                            -
                                Effect: Allow
                                Action:
                                    - mediaconvert:CreateJob
                                    - mediaconvert:GetJob
                                Resource: !Sub arn:aws:mediaconvert:${AWS::Region}:${AWS::AccountId}:*
                            # PassRole the existing service role (same role render uses)
                            -
                                Effect: Allow
                                Action: iam:PassRole
                                Resource: !Ref ServiceDataAccessRoleArn
                            # Bedrock - Pegasus only
                            -
                                Effect: Allow
                                Action: bedrock:InvokeModel
                                Resource:
                                    - arn:aws:bedrock:*::foundation-model/twelvelabs.*
                                    - !Sub arn:aws:bedrock:*:${AWS::AccountId}:inference-profile/*twelvelabs*

    DetectHighlightChunkLambda:
        Type: AWS::Lambda::Function
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W89
                        reason: Workflow not using VPC
                    -
                        id: W92
                        reason: Workflow not limiting simultaneous executions
        Properties:
            FunctionName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - DetectHighlightChunk
                    - Name
            Description: !Sub (${SolutionLowerCaseId}) MC split + Pegasus per chunk
            Runtime: !FindInMap
                - Node
                - Runtime
                - Version
            MemorySize: 512
            # Generous: stream-copy split usually finishes < 3min; Pegasus
            # itself returns within 30-90s. 14min ceiling absorbs MC queueing.
            Timeout: 840
            Handler: index.handler
            Role: !GetAtt DetectHighlightChunkRole.Arn
            Code:
                S3Bucket: !Ref S3Bucket
                S3Key: !Sub
                    - ${KeyPrefix}/${package}
                    - package: !FindInMap
                        - Workflow
                        - DetectHighlightChunk
                        - Package
            Layers:
                - !Ref CoreLibLayer
                - !Ref AwsSdkLayer
            TracingConfig:
                Mode: Active
            Environment:
                Variables:
                    ENV_CUSTOM_USER_AGENT: !Ref CustomUserAgent
                    ENV_SOLUTION_UUID: !Ref SolutionUuid
                    ENV_SOLUTION_ID: !Ref SolutionId
                    ENV_RESOURCE_PREFIX: !Ref ResourcePrefix
                    ENV_BEDROCK_REGION: !Ref AWS::Region
                    ENV_PROXY_BUCKET: !Ref ProxyBucket
                    ENV_MEDIACONVERT_HOST: !Ref MediaConvertEndpoint
                    ENV_MEDIACONVERT_ROLE_ARN: !Ref ServiceDataAccessRoleArn

    ################################################################################
    #
    # merge-chunks Lambda
    # * Aggregates per-chunk segments, sorts, dedupes, caps at maxSegments
    # * Writes the COMPLETED HighlightSets row + cleans up chunk MP4s
    # * Doubles as the FAILED-row writer when SFN Catch routes here
    #
    ################################################################################
    MergeChunksLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption.
        Properties:
            LogGroupName: !Sub
                - /aws/lambda/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - MergeChunks
                    - Name
            RetentionInDays: 7

    MergeChunksRole:
        Type: AWS::IAM::Role
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: lambda.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: MergeChunksAccess
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogGroup
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource:
                                    - !GetAtt MergeChunksLogGroup.Arn
                            -
                                Effect: Allow
                                Action: dynamodb:PutItem
                                Resource: !GetAtt HighlightSetsTable.Arn
                            # Cleanup chunk objects after merge
                            -
                                Effect: Allow
                                Action: s3:ListBucket
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}
                            -
                                Effect: Allow
                                Action:
                                    - s3:DeleteObject
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}/*/_pegasus-chunks/*
                            -
                                Effect: Allow
                                Action: iot:Publish
                                Resource: !Sub arn:aws:iot:${AWS::Region}:${AWS::AccountId}:topic/${IotTopic}

    MergeChunksLambda:
        Type: AWS::Lambda::Function
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W89
                        reason: Workflow not using VPC
                    -
                        id: W92
                        reason: Workflow not limiting simultaneous executions
        Properties:
            FunctionName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - MergeChunks
                    - Name
            Description: !Sub (${SolutionLowerCaseId}) Merge per-chunk highlight segments + finalize row
            Runtime: !FindInMap
                - Node
                - Runtime
                - Version
            MemorySize: 256
            Timeout: 120
            Handler: index.handler
            Role: !GetAtt MergeChunksRole.Arn
            Code:
                S3Bucket: !Ref S3Bucket
                S3Key: !Sub
                    - ${KeyPrefix}/${package}
                    - package: !FindInMap
                        - Workflow
                        - MergeChunks
                        - Package
            Layers:
                - !Ref CoreLibLayer
                - !Ref AwsSdkLayer
            TracingConfig:
                Mode: Active
            Environment:
                Variables:
                    ENV_CUSTOM_USER_AGENT: !Ref CustomUserAgent
                    ENV_SOLUTION_UUID: !Ref SolutionUuid
                    ENV_SOLUTION_ID: !Ref SolutionId
                    ENV_RESOURCE_PREFIX: !Ref ResourcePrefix
                    ENV_PROXY_BUCKET: !Ref ProxyBucket
                    ENV_HIGHLIGHT_SETS_TABLE: !Ref HighlightSetsTable
                    ENV_IOT_HOST: !Ref IotHost
                    ENV_IOT_TOPIC: !Ref IotTopic

    ################################################################################
    #
    # highlight-detection Step Function
    # * Single Task state for now: detect-highlights (anchor-and-snap is folded
    #   into the same Lambda since the LCS pass is sub-second)
    # * multimodal strategy reuses the same Lambda; frames + optional transcript
    #
    ################################################################################
    HighlightDetectionStateMachineServiceRole:
        Type: AWS::IAM::Role
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W11
                        reason: CloudWatch API actions, such as CreateLogDelivery and DescribeLogGroups, do not support Resource types defined by Amazon CloudWatch Logs. Refer to https://docs.aws.amazon.com/step-functions/latest/dg/cw-logs.html
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: !Sub states.${AWS::Region}.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: !Sub ${ResourcePrefix}HighlightDetection
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            -
                                Effect: Allow
                                Action: lambda:InvokeFunction
                                Resource:
                                    - !GetAtt DetectHighlightsLambda.Arn
                                    - !GetAtt PlanChunksLambda.Arn
                                    - !GetAtt DetectHighlightChunkLambda.Arn
                                    - !GetAtt MergeChunksLambda.Arn
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogDelivery
                                    - logs:GetLogDelivery
                                    - logs:UpdateLogDelivery
                                    - logs:DeleteLogDelivery
                                    - logs:ListLogDeliveries
                                    - logs:PutResourcePolicy
                                    - logs:DescribeResourcePolicies
                                    - logs:DescribeLogGroups
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource: "*"

    HighlightDetectionStateMachineLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption. Disable additional KMS encryption requirement. https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/encrypt-log-data-kms.html
        Properties:
            LogGroupName: !Sub
                - /aws/stepfunctions/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - HighlightDetection
                    - Name
            RetentionInDays: 7

    HighlightDetectionStateMachine:
        Type: AWS::StepFunctions::StateMachine
        Properties:
            StateMachineName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - HighlightDetection
                    - Name
            StateMachineType: STANDARD
            RoleArn: !GetAtt HighlightDetectionStateMachineServiceRole.Arn
            TracingConfiguration:
                Enabled: true
            LoggingConfiguration:
                Destinations:
                    - CloudWatchLogsLogGroup:
                        LogGroupArn: !GetAtt HighlightDetectionStateMachineLogGroup.Arn
                IncludeExecutionData: true
                Level: ALL
            DefinitionString:
                !Sub |-
                    {
                        "Comment": "Plan chunk windows, run Pegasus single-call or split-and-Map for >55min videos, merge into final HighlightSets row.",
                        "StartAt": "Plan",
                        "States": {
                            "Plan": {
                                "Type": "Task",
                                "Resource": "${PlanChunksLambda.Arn}",
                                "ResultPath": "$.plan",
                                "Next": "Split needed?",
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "Lambda.ClientExecutionTimeoutException",
                                            "Lambda.ServiceException",
                                            "Lambda.AWSLambdaException",
                                            "Lambda.SdkClientException"
                                        ],
                                        "IntervalSeconds": 4,
                                        "MaxAttempts": 3,
                                        "BackoffRate": 2
                                    }
                                ]
                            },
                            "Split needed?": {
                                "Type": "Choice",
                                "Choices": [
                                    {
                                        "Variable": "$.plan.splitNeeded",
                                        "BooleanEquals": true,
                                        "Next": "Detect chunks"
                                    }
                                ],
                                "Default": "Detect single"
                            },
                            "Detect single": {
                                "Type": "Task",
                                "Resource": "${DetectHighlightsLambda.Arn}",
                                "Parameters": {
                                    "uuid.$": "$.plan.uuid",
                                    "highlightSetId.$": "$.plan.highlightSetId",
                                    "transcriptKey.$": "$.plan.transcriptKey",
                                    "proxyKey.$": "$.plan.proxyKey",
                                    "accountId.$": "$.plan.accountId",
                                    "strategy.$": "$.plan.strategy",
                                    "modelId.$": "$.plan.modelId",
                                    "prompt.$": "$.plan.prompt",
                                    "maxSegments.$": "$.plan.maxSegments",
                                    "durationSec.$": "$.plan.durationSec"
                                },
                                "ResultPath": "$.singleResult",
                                "Next": "Merge single",
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "Lambda.ClientExecutionTimeoutException",
                                            "Lambda.ServiceException",
                                            "Lambda.AWSLambdaException",
                                            "Lambda.SdkClientException"
                                        ],
                                        "IntervalSeconds": 6,
                                        "MaxAttempts": 4,
                                        "BackoffRate": 2
                                    },
                                    {
                                        "ErrorEquals": [
                                            "Lambda.TooManyRequestsException",
                                            "ThrottlingException"
                                        ],
                                        "IntervalSeconds": 2,
                                        "MaxAttempts": 6,
                                        "BackoffRate": 1.5
                                    }
                                ],
                                "Catch": [
                                    {
                                        "ErrorEquals": ["States.ALL"],
                                        "ResultPath": "$.error",
                                        "Next": "Merge failed"
                                    }
                                ]
                            },
                            "Detect chunks": {
                                "Type": "Map",
                                "ItemsPath": "$.plan.chunks",
                                "MaxConcurrency": 4,
                                "Parameters": {
                                    "uuid.$": "$.plan.uuid",
                                    "highlightSetId.$": "$.plan.highlightSetId",
                                    "accountId.$": "$.plan.accountId",
                                    "modelId.$": "$.plan.modelId",
                                    "prompt.$": "$.plan.prompt",
                                    "maxSegments.$": "$.plan.maxSegments",
                                    "index.$": "$$.Map.Item.Value.index",
                                    "startSec.$": "$$.Map.Item.Value.startSec",
                                    "endSec.$": "$$.Map.Item.Value.endSec",
                                    "durationSec.$": "$$.Map.Item.Value.durationSec",
                                    "sourceProxyBucket.$": "$$.Map.Item.Value.sourceProxyBucket",
                                    "sourceProxyKey.$": "$$.Map.Item.Value.sourceProxyKey"
                                },
                                "Iterator": {
                                    "StartAt": "Chunk Pegasus",
                                    "States": {
                                        "Chunk Pegasus": {
                                            "Type": "Task",
                                            "Resource": "${DetectHighlightChunkLambda.Arn}",
                                            "End": true,
                                            "Retry": [
                                                {
                                                    "ErrorEquals": [
                                                        "Lambda.ClientExecutionTimeoutException",
                                                        "Lambda.ServiceException",
                                                        "Lambda.AWSLambdaException",
                                                        "Lambda.SdkClientException"
                                                    ],
                                                    "IntervalSeconds": 6,
                                                    "MaxAttempts": 3,
                                                    "BackoffRate": 2
                                                },
                                                {
                                                    "ErrorEquals": [
                                                        "Lambda.TooManyRequestsException",
                                                        "ThrottlingException"
                                                    ],
                                                    "IntervalSeconds": 4,
                                                    "MaxAttempts": 4,
                                                    "BackoffRate": 1.5
                                                }
                                            ]
                                        }
                                    }
                                },
                                "ResultPath": "$.chunkResults",
                                "Next": "Merge split",
                                "Catch": [
                                    {
                                        "ErrorEquals": ["States.ALL"],
                                        "ResultPath": "$.error",
                                        "Next": "Merge failed"
                                    }
                                ]
                            },
                            "Merge single": {
                                "Type": "Task",
                                "Resource": "${MergeChunksLambda.Arn}",
                                "Parameters": {
                                    "uuid.$": "$.plan.uuid",
                                    "highlightSetId.$": "$.plan.highlightSetId",
                                    "strategy.$": "$.plan.strategy",
                                    "modelId.$": "$.plan.modelId",
                                    "prompt.$": "$.plan.prompt",
                                    "owner.$": "$.plan.owner",
                                    "durationSec.$": "$.plan.durationSec",
                                    "proxyKey.$": "$.plan.proxyKey",
                                    "maxSegments.$": "$.plan.maxSegments",
                                    "startedAt.$": "$.plan.startedAt",
                                    "chunkResults.$": "States.Array($.singleResult)"
                                },
                                "End": true,
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "Lambda.ClientExecutionTimeoutException",
                                            "Lambda.ServiceException",
                                            "Lambda.AWSLambdaException",
                                            "Lambda.SdkClientException"
                                        ],
                                        "IntervalSeconds": 4,
                                        "MaxAttempts": 3,
                                        "BackoffRate": 2
                                    }
                                ]
                            },
                            "Merge split": {
                                "Type": "Task",
                                "Resource": "${MergeChunksLambda.Arn}",
                                "Parameters": {
                                    "uuid.$": "$.plan.uuid",
                                    "highlightSetId.$": "$.plan.highlightSetId",
                                    "strategy.$": "$.plan.strategy",
                                    "modelId.$": "$.plan.modelId",
                                    "prompt.$": "$.plan.prompt",
                                    "owner.$": "$.plan.owner",
                                    "durationSec.$": "$.plan.durationSec",
                                    "proxyKey.$": "$.plan.proxyKey",
                                    "maxSegments.$": "$.plan.maxSegments",
                                    "startedAt.$": "$.plan.startedAt",
                                    "chunkResults.$": "$.chunkResults"
                                },
                                "End": true,
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "Lambda.ClientExecutionTimeoutException",
                                            "Lambda.ServiceException",
                                            "Lambda.AWSLambdaException",
                                            "Lambda.SdkClientException"
                                        ],
                                        "IntervalSeconds": 4,
                                        "MaxAttempts": 3,
                                        "BackoffRate": 2
                                    }
                                ]
                            },
                            "Merge failed": {
                                "Type": "Task",
                                "Resource": "${MergeChunksLambda.Arn}",
                                "Parameters": {
                                    "uuid.$": "$.plan.uuid",
                                    "highlightSetId.$": "$.plan.highlightSetId",
                                    "strategy.$": "$.plan.strategy",
                                    "modelId.$": "$.plan.modelId",
                                    "prompt.$": "$.plan.prompt",
                                    "owner.$": "$.plan.owner",
                                    "durationSec.$": "$.plan.durationSec",
                                    "proxyKey.$": "$.plan.proxyKey",
                                    "startedAt.$": "$.plan.startedAt",
                                    "error.$": "$.error"
                                },
                                "End": true,
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "Lambda.ClientExecutionTimeoutException",
                                            "Lambda.ServiceException",
                                            "Lambda.AWSLambdaException",
                                            "Lambda.SdkClientException"
                                        ],
                                        "IntervalSeconds": 4,
                                        "MaxAttempts": 3,
                                        "BackoffRate": 2
                                    }
                                ]
                            }
                        }
                    }
            Tags:
                -
                    Key: Name
                    Value: Media2Cloud Highlight Detection
                -
                    Key: SolutionId
                    Value: !Ref SolutionId
                -
                    Key: ResourcePrefix
                    Value: !Ref ResourcePrefix

    ################################################################################
    #
    # compose-edl Lambda
    # * Reads EditProjects + Ingest rows
    # * Builds a self-contained MediaConvert job spec (clip-and-stitch)
    # * Creates the Renders DDB row with status='composing'
    #
    ################################################################################
    ComposeEdlLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption. Disable additional KMS encryption requirement.
        Properties:
            LogGroupName: !Sub
                - /aws/lambda/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - ComposeEdl
                    - Name
            RetentionInDays: 7

    ComposeEdlRole:
        Type: AWS::IAM::Role
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: lambda.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: ComposeEdlAccess
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogGroup
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource:
                                    - !GetAtt ComposeEdlLogGroup.Arn
                            -
                                Effect: Allow
                                Action: s3:ListBucket
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}
                            -
                                Effect: Allow
                                Action: s3:GetObject
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}/*
                            -
                                Effect: Allow
                                Action:
                                    - s3:PutObject
                                Resource:
                                    - !Sub arn:aws:s3:::${ProxyBucket}/*/output/*/captions.srt
                                    - !Sub arn:aws:s3:::${ProxyBucket}/*/output/*/captions-*.srt
                            -
                                Effect: Allow
                                Action:
                                    - dynamodb:GetItem
                                Resource:
                                    - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${IngestTable}
                                    - !GetAtt EditProjectsTable.Arn
                            -
                                Effect: Allow
                                Action:
                                    - dynamodb:PutItem
                                    - dynamodb:UpdateItem
                                Resource: !GetAtt RendersTable.Arn

    ComposeEdlLambda:
        Type: AWS::Lambda::Function
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W89
                        reason: Workflow not using VPC
                    -
                        id: W92
                        reason: Workflow not limiting simultaneous executions
        Properties:
            FunctionName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - ComposeEdl
                    - Name
            Description: !Sub (${SolutionLowerCaseId}) Compose MediaConvert clip-and-stitch job spec from edit project segments
            Runtime: !FindInMap
                - Node
                - Runtime
                - Version
            MemorySize: 256
            Timeout: 60
            Handler: index.handler
            Role: !GetAtt ComposeEdlRole.Arn
            Code:
                S3Bucket: !Ref S3Bucket
                S3Key: !Sub
                    - ${KeyPrefix}/${package}
                    - package: !FindInMap
                        - Workflow
                        - ComposeEdl
                        - Package
            Layers:
                - !Ref CoreLibLayer
                - !Ref AwsSdkLayer
            TracingConfig:
                Mode: Active
            Environment:
                Variables:
                    ENV_EXPECTED_BUCKET_OWNER: !Ref AWS::AccountId
                    ENV_CUSTOM_USER_AGENT: !Ref CustomUserAgent
                    ENV_SOLUTION_UUID: !Ref SolutionUuid
                    ENV_SOLUTION_ID: !Ref SolutionId
                    ENV_RESOURCE_PREFIX: !Ref ResourcePrefix
                    ENV_PROXY_BUCKET: !Ref ProxyBucket
                    ENV_INGEST_TABLE: !Ref IngestTable
                    ENV_EDIT_PROJECTS_TABLE: !Ref EditProjectsTable
                    ENV_RENDERS_TABLE: !Ref RendersTable
                    ENV_DATA_ACCESS_ROLE: !Ref ServiceDataAccessRoleArn
                    ENV_PUBLISH_CLOUDFRONT_DOMAIN: !Ref PublishCloudFrontDistributionDomainName

    ################################################################################
    #
    # start-render Lambda
    # * Calls MediaConvert.CreateJob with the spec from compose-edl
    # * Persists mediaConvertJobId on the Renders row, status='submitted'
    # * Pushes IoT status to edit/${editProjectId}/render
    #
    ################################################################################
    StartRenderLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption. Disable additional KMS encryption requirement.
        Properties:
            LogGroupName: !Sub
                - /aws/lambda/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - StartRender
                    - Name
            RetentionInDays: 7

    StartRenderRole:
        Type: AWS::IAM::Role
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: lambda.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: StartRenderAccess
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogGroup
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource:
                                    - !GetAtt StartRenderLogGroup.Arn
                            -
                                Effect: Allow
                                Action: mediaconvert:CreateJob
                                Resource: !Sub arn:aws:mediaconvert:${AWS::Region}:${AWS::AccountId}:*
                            -
                                Effect: Allow
                                Action: iam:PassRole
                                Resource: !Ref ServiceDataAccessRoleArn
                            -
                                Effect: Allow
                                Action: dynamodb:UpdateItem
                                Resource: !GetAtt RendersTable.Arn
                            -
                                Effect: Allow
                                Action: iot:Publish
                                Resource: !Sub arn:aws:iot:${AWS::Region}:${AWS::AccountId}:topic/${IotTopic}

    StartRenderLambda:
        Type: AWS::Lambda::Function
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W89
                        reason: Workflow not using VPC
                    -
                        id: W92
                        reason: Workflow not limiting simultaneous executions
        Properties:
            FunctionName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - StartRender
                    - Name
            Description: !Sub (${SolutionLowerCaseId}) Submit MediaConvert highlight render job
            Runtime: !FindInMap
                - Node
                - Runtime
                - Version
            MemorySize: 256
            Timeout: 60
            Handler: index.handler
            Role: !GetAtt StartRenderRole.Arn
            Code:
                S3Bucket: !Ref S3Bucket
                S3Key: !Sub
                    - ${KeyPrefix}/${package}
                    - package: !FindInMap
                        - Workflow
                        - StartRender
                        - Package
            Layers:
                - !Ref CoreLibLayer
                - !Ref AwsSdkLayer
            TracingConfig:
                Mode: Active
            Environment:
                Variables:
                    ENV_EXPECTED_BUCKET_OWNER: !Ref AWS::AccountId
                    ENV_CUSTOM_USER_AGENT: !Ref CustomUserAgent
                    ENV_SOLUTION_UUID: !Ref SolutionUuid
                    ENV_SOLUTION_ID: !Ref SolutionId
                    ENV_RESOURCE_PREFIX: !Ref ResourcePrefix
                    ENV_RENDERS_TABLE: !Ref RendersTable
                    ENV_MEDIACONVERT_HOST: !Ref MediaConvertEndpoint
                    ENV_IOT_HOST: !Ref IotHost
                    ENV_IOT_TOPIC: !Ref IotTopic

    ################################################################################
    #
    # render-status Lambda
    # * Polls MediaConvert.GetJob and maps phase → completed | error | progressing
    # * Updates Renders row with percent / outputs / errorMessage / finishedAt
    # * Pushes IoT status to edit/${editProjectId}/render
    #
    ################################################################################
    RenderStatusLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption. Disable additional KMS encryption requirement.
        Properties:
            LogGroupName: !Sub
                - /aws/lambda/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - RenderStatus
                    - Name
            RetentionInDays: 7

    RenderStatusRole:
        Type: AWS::IAM::Role
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: lambda.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: RenderStatusAccess
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogGroup
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource:
                                    - !GetAtt RenderStatusLogGroup.Arn
                            -
                                Effect: Allow
                                Action: mediaconvert:GetJob
                                Resource: !Sub arn:aws:mediaconvert:${AWS::Region}:${AWS::AccountId}:*
                            -
                                Effect: Allow
                                Action: dynamodb:UpdateItem
                                Resource: !GetAtt RendersTable.Arn
                            -
                                Effect: Allow
                                Action: iot:Publish
                                Resource: !Sub arn:aws:iot:${AWS::Region}:${AWS::AccountId}:topic/${IotTopic}

    RenderStatusLambda:
        Type: AWS::Lambda::Function
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W89
                        reason: Workflow not using VPC
                    -
                        id: W92
                        reason: Workflow not limiting simultaneous executions
        Properties:
            FunctionName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - RenderStatus
                    - Name
            Description: !Sub (${SolutionLowerCaseId}) Poll a MediaConvert render and update Renders DDB
            Runtime: !FindInMap
                - Node
                - Runtime
                - Version
            MemorySize: 256
            Timeout: 60
            Handler: index.handler
            Role: !GetAtt RenderStatusRole.Arn
            Code:
                S3Bucket: !Ref S3Bucket
                S3Key: !Sub
                    - ${KeyPrefix}/${package}
                    - package: !FindInMap
                        - Workflow
                        - RenderStatus
                        - Package
            Layers:
                - !Ref CoreLibLayer
                - !Ref AwsSdkLayer
            TracingConfig:
                Mode: Active
            Environment:
                Variables:
                    ENV_EXPECTED_BUCKET_OWNER: !Ref AWS::AccountId
                    ENV_CUSTOM_USER_AGENT: !Ref CustomUserAgent
                    ENV_SOLUTION_UUID: !Ref SolutionUuid
                    ENV_SOLUTION_ID: !Ref SolutionId
                    ENV_RESOURCE_PREFIX: !Ref ResourcePrefix
                    ENV_RENDERS_TABLE: !Ref RendersTable
                    ENV_MEDIACONVERT_HOST: !Ref MediaConvertEndpoint
                    ENV_IOT_HOST: !Ref IotHost
                    ENV_IOT_TOPIC: !Ref IotTopic

    ################################################################################
    #
    # publish-to-library Lambda
    # * Locates the rendered MP4 produced by MediaConvert under destinationPrefix
    # * Generates a new uuid and starts the Main ingest state machine pointing
    #   at the rendered file (so the existing ingest pipeline picks it up)
    # * Updates the Renders row with publishedUuid + publishedExecutionArn
    #
    ################################################################################
    PublishToLibraryLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption. Disable additional KMS encryption requirement.
        Properties:
            LogGroupName: !Sub
                - /aws/lambda/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - PublishToLibrary
                    - Name
            RetentionInDays: 7

    PublishToLibraryRole:
        Type: AWS::IAM::Role
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W11
                        reason: Wildcard scoped to ProxyBucket and ResourcePrefix
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: lambda.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: PublishToLibraryAccess
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogGroup
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource:
                                    - !GetAtt PublishToLibraryLogGroup.Arn
                            -
                                Effect: Allow
                                Action: s3:ListBucket
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}
                            -
                                Effect: Allow
                                Action: s3:GetObject
                                Resource: !Sub arn:aws:s3:::${ProxyBucket}/*
                            -
                                Effect: Allow
                                Action: dynamodb:UpdateItem
                                Resource: !GetAtt RendersTable.Arn
                            -
                                Effect: Allow
                                Action: states:StartExecution
                                Resource: !Sub arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${ResourcePrefix}-main
                            -
                                Effect: Allow
                                Action: iot:Publish
                                Resource: !Sub arn:aws:iot:${AWS::Region}:${AWS::AccountId}:topic/${IotTopic}

    PublishToLibraryLambda:
        Type: AWS::Lambda::Function
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W89
                        reason: Workflow not using VPC
                    -
                        id: W92
                        reason: Workflow not limiting simultaneous executions
        Properties:
            FunctionName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - PublishToLibrary
                    - Name
            Description: !Sub (${SolutionLowerCaseId}) Register a completed highlight render as a new ingest asset
            Runtime: !FindInMap
                - Node
                - Runtime
                - Version
            MemorySize: 256
            Timeout: 60
            Handler: index.handler
            Role: !GetAtt PublishToLibraryRole.Arn
            Code:
                S3Bucket: !Ref S3Bucket
                S3Key: !Sub
                    - ${KeyPrefix}/${package}
                    - package: !FindInMap
                        - Workflow
                        - PublishToLibrary
                        - Package
            Layers:
                - !Ref CoreLibLayer
                - !Ref AwsSdkLayer
            TracingConfig:
                Mode: Active
            Environment:
                Variables:
                    ENV_EXPECTED_BUCKET_OWNER: !Ref AWS::AccountId
                    ENV_CUSTOM_USER_AGENT: !Ref CustomUserAgent
                    ENV_SOLUTION_UUID: !Ref SolutionUuid
                    ENV_SOLUTION_ID: !Ref SolutionId
                    ENV_RESOURCE_PREFIX: !Ref ResourcePrefix
                    ENV_RENDERS_TABLE: !Ref RendersTable
                    ENV_PROXY_BUCKET: !Ref ProxyBucket
                    ENV_IOT_HOST: !Ref IotHost
                    ENV_IOT_TOPIC: !Ref IotTopic

    ################################################################################
    #
    # render-publish Step Function
    # * compose-edl → start-render → Wait(20s) → render-status → loop until isDone
    # * On done: branch on publishToLibrary (currently a no-op leaf; library
    #   publish is wired in Step 10)
    #
    ################################################################################
    RenderPublishStateMachineServiceRole:
        Type: AWS::IAM::Role
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W11
                        reason: CloudWatch Logs delivery actions don't support resource-level perms.
        Properties:
            AssumeRolePolicyDocument:
                Version: "2012-10-17"
                Statement:
                    -
                        Effect: Allow
                        Action: sts:AssumeRole
                        Principal:
                            Service: !Sub states.${AWS::Region}.amazonaws.com
            Path: !Sub /${ResourcePrefix}/
            ManagedPolicyArns:
                - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
            Policies:
                -
                    PolicyName: !Sub ${ResourcePrefix}RenderPublish
                    PolicyDocument:
                        Version: "2012-10-17"
                        Statement:
                            -
                                Effect: Allow
                                Action: lambda:InvokeFunction
                                Resource:
                                    - !GetAtt ComposeEdlLambda.Arn
                                    - !GetAtt StartRenderLambda.Arn
                                    - !GetAtt RenderStatusLambda.Arn
                                    - !GetAtt PublishToLibraryLambda.Arn
                            -
                                Effect: Allow
                                Action:
                                    - logs:CreateLogDelivery
                                    - logs:GetLogDelivery
                                    - logs:UpdateLogDelivery
                                    - logs:DeleteLogDelivery
                                    - logs:ListLogDeliveries
                                    - logs:PutResourcePolicy
                                    - logs:DescribeResourcePolicies
                                    - logs:DescribeLogGroups
                                    - logs:CreateLogStream
                                    - logs:PutLogEvents
                                Resource: "*"

    RenderPublishStateMachineLogGroup:
        Type: AWS::Logs::LogGroup
        Metadata:
            cfn_nag:
                rules_to_suppress:
                    -
                        id: W84
                        reason: Use default encryption. Disable additional KMS encryption requirement.
        Properties:
            LogGroupName: !Sub
                - /aws/stepfunctions/${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - RenderPublish
                    - Name
            RetentionInDays: 7

    RenderPublishStateMachine:
        Type: AWS::StepFunctions::StateMachine
        Properties:
            StateMachineName: !Sub
                - ${ResourcePrefix}-${name}
                - name: !FindInMap
                    - Workflow
                    - RenderPublish
                    - Name
            StateMachineType: STANDARD
            RoleArn: !GetAtt RenderPublishStateMachineServiceRole.Arn
            TracingConfiguration:
                Enabled: true
            LoggingConfiguration:
                Destinations:
                    - CloudWatchLogsLogGroup:
                        LogGroupArn: !GetAtt RenderPublishStateMachineLogGroup.Arn
                IncludeExecutionData: true
                Level: ALL
            DefinitionString:
                !Sub |-
                    {
                        "Comment": "Compose an EDL, submit a MediaConvert clip-and-stitch render, poll until done, optionally publish to library.",
                        "StartAt": "Compose EDL",
                        "States": {
                            "Compose EDL": {
                                "Type": "Task",
                                "Resource": "${ComposeEdlLambda.Arn}",
                                "Next": "Start render",
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "Lambda.ClientExecutionTimeoutException",
                                            "Lambda.ServiceException",
                                            "Lambda.AWSLambdaException",
                                            "Lambda.SdkClientException"
                                        ],
                                        "IntervalSeconds": 4,
                                        "MaxAttempts": 3,
                                        "BackoffRate": 2
                                    }
                                ]
                            },
                            "Start render": {
                                "Type": "Task",
                                "Resource": "${StartRenderLambda.Arn}",
                                "Next": "Wait for render",
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "Lambda.ClientExecutionTimeoutException",
                                            "Lambda.ServiceException",
                                            "Lambda.AWSLambdaException",
                                            "Lambda.SdkClientException"
                                        ],
                                        "IntervalSeconds": 4,
                                        "MaxAttempts": 3,
                                        "BackoffRate": 2
                                    }
                                ]
                            },
                            "Wait for render": {
                                "Type": "Wait",
                                "Seconds": 20,
                                "Next": "Render status"
                            },
                            "Render status": {
                                "Type": "Task",
                                "Resource": "${RenderStatusLambda.Arn}",
                                "Next": "Render done?",
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "Lambda.ClientExecutionTimeoutException",
                                            "Lambda.ServiceException",
                                            "Lambda.AWSLambdaException",
                                            "Lambda.SdkClientException",
                                            "Lambda.TooManyRequestsException",
                                            "ThrottlingException"
                                        ],
                                        "IntervalSeconds": 6,
                                        "MaxAttempts": 4,
                                        "BackoffRate": 2
                                    }
                                ]
                            },
                            "Render done?": {
                                "Type": "Choice",
                                "Choices": [
                                    {
                                        "Variable": "$.isDone",
                                        "BooleanEquals": true,
                                        "Next": "Publish to library?"
                                    }
                                ],
                                "Default": "Wait for render"
                            },
                            "Publish to library?": {
                                "Type": "Choice",
                                "Choices": [
                                    {
                                        "And": [
                                            {
                                                "Variable": "$.publishToLibrary",
                                                "BooleanEquals": true
                                            },
                                            {
                                                "Variable": "$.status",
                                                "StringEquals": "completed"
                                            }
                                        ],
                                        "Next": "Publish to library"
                                    }
                                ],
                                "Default": "Done"
                            },
                            "Publish to library": {
                                "Type": "Task",
                                "Resource": "${PublishToLibraryLambda.Arn}",
                                "Next": "Done",
                                "Retry": [
                                    {
                                        "ErrorEquals": [
                                            "Lambda.ClientExecutionTimeoutException",
                                            "Lambda.ServiceException",
                                            "Lambda.AWSLambdaException",
                                            "Lambda.SdkClientException"
                                        ],
                                        "IntervalSeconds": 4,
                                        "MaxAttempts": 3,
                                        "BackoffRate": 2
                                    }
                                ],
                                "Catch": [
                                    {
                                        "ErrorEquals": ["States.ALL"],
                                        "ResultPath": "$.publishError",
                                        "Next": "Done"
                                    }
                                ]
                            },
                            "Done": {
                                "Type": "Pass",
                                "End": true
                            }
                        }
                    }
            Tags:
                -
                    Key: Name
                    Value: Media2Cloud Render and Publish
                -
                    Key: SolutionId
                    Value: !Ref SolutionId
                -
                    Key: ResourcePrefix
                    Value: !Ref ResourcePrefix

Outputs:
    HighlightSetsTableName:
        Value: !Ref HighlightSetsTable
        Description: HighlightSetsTableName
    HighlightSetsTableArn:
        Value: !GetAtt HighlightSetsTable.Arn
        Description: HighlightSetsTableArn
    EditProjectsTableName:
        Value: !Ref EditProjectsTable
        Description: EditProjectsTableName
    EditProjectsTableArn:
        Value: !GetAtt EditProjectsTable.Arn
        Description: EditProjectsTableArn
    RendersTableName:
        Value: !Ref RendersTable
        Description: RendersTableName
    RendersTableArn:
        Value: !GetAtt RendersTable.Arn
        Description: RendersTableArn
    HighlightSettingsTableName:
        Value: !Ref HighlightSettingsTable
        Description: HighlightSettingsTableName
    HighlightSettingsTableArn:
        Value: !GetAtt HighlightSettingsTable.Arn
        Description: HighlightSettingsTableArn
    DetectHighlightsLambdaArn:
        Value: !GetAtt DetectHighlightsLambda.Arn
        Description: DetectHighlightsLambdaArn
    DetectHighlightsLambdaName:
        Value: !Ref DetectHighlightsLambda
        Description: DetectHighlightsLambdaName
    PlanChunksLambdaArn:
        Value: !GetAtt PlanChunksLambda.Arn
        Description: PlanChunksLambdaArn
    PlanChunksLambdaName:
        Value: !Ref PlanChunksLambda
        Description: PlanChunksLambdaName
    DetectHighlightChunkLambdaArn:
        Value: !GetAtt DetectHighlightChunkLambda.Arn
        Description: DetectHighlightChunkLambdaArn
    DetectHighlightChunkLambdaName:
        Value: !Ref DetectHighlightChunkLambda
        Description: DetectHighlightChunkLambdaName
    MergeChunksLambdaArn:
        Value: !GetAtt MergeChunksLambda.Arn
        Description: MergeChunksLambdaArn
    MergeChunksLambdaName:
        Value: !Ref MergeChunksLambda
        Description: MergeChunksLambdaName
    HighlightDetectionStateMachineArn:
        Value: !Ref HighlightDetectionStateMachine
        Description: HighlightDetectionStateMachineArn
    HighlightDetectionStateMachineName:
        Value: !GetAtt HighlightDetectionStateMachine.Name
        Description: HighlightDetectionStateMachineName
    ComposeEdlLambdaArn:
        Value: !GetAtt ComposeEdlLambda.Arn
        Description: ComposeEdlLambdaArn
    ComposeEdlLambdaName:
        Value: !Ref ComposeEdlLambda
        Description: ComposeEdlLambdaName
    StartRenderLambdaArn:
        Value: !GetAtt StartRenderLambda.Arn
        Description: StartRenderLambdaArn
    StartRenderLambdaName:
        Value: !Ref StartRenderLambda
        Description: StartRenderLambdaName
    RenderStatusLambdaArn:
        Value: !GetAtt RenderStatusLambda.Arn
        Description: RenderStatusLambdaArn
    RenderStatusLambdaName:
        Value: !Ref RenderStatusLambda
        Description: RenderStatusLambdaName
    PublishToLibraryLambdaArn:
        Value: !GetAtt PublishToLibraryLambda.Arn
        Description: PublishToLibraryLambdaArn
    PublishToLibraryLambdaName:
        Value: !Ref PublishToLibraryLambda
        Description: PublishToLibraryLambdaName
    RenderPublishStateMachineArn:
        Value: !Ref RenderPublishStateMachine
        Description: RenderPublishStateMachineArn
    RenderPublishStateMachineName:
        Value: !GetAtt RenderPublishStateMachine.Name
        Description: RenderPublishStateMachineName
